<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProductMapper">
    
    <resultMap type="Product" id="ProductResult">
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="category"    column="category"    />
        <result property="specification"    column="specification"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="stockQuantity"    column="stock_quantity"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProductVo">
        select product_id, product_name, category, specification, unit_price, stock_quantity, create_by, create_time, update_by, update_time, remark from t_product
    </sql>

    <select id="selectProductList" parameterType="Product" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
        </where>
    </select>
    
    <select id="selectProductByProductId" parameterType="Long" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        where product_id = #{productId}
    </select>
        
    <insert id="insertProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="productId">
        insert into t_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="specification != null and specification != ''">specification,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="stockQuantity != null">stock_quantity,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="specification != null and specification != ''">#{specification},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="stockQuantity != null">#{stockQuantity},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateProduct" parameterType="Product">
        update t_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="specification != null and specification != ''">specification = #{specification},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="stockQuantity != null">stock_quantity = #{stockQuantity},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteProductByProductId" parameterType="Long">
        delete from t_product where product_id = #{productId}
    </delete>

    <delete id="deleteProductByProductIds" parameterType="String">
        delete from t_product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>

    <update id="decreaseProductStock" parameterType="Product">
        update t_product
        set stock_quantity = stock_quantity - #{stockQuantity}
        where product_id = #{productId}
          and stock_quantity &gt;= #{stockQuantity}
    </update>

    <update id="increaseProductStock" parameterType="Product">
        update t_product
        set stock_quantity = stock_quantity + #{stockQuantity}
        where product_id = #{productId}
    </update>

    <update id="updateProductStockQuantity" parameterType="Product">
        update t_product
        set stock_quantity = #{stockQuantity}
        where product_id = #{productId}
    </update>
</mapper>
