// global transition css

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform--move,
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: opacity .42s ease, transform .42s cubic-bezier(.22, 1, .36, 1), filter .42s ease;
}

.fade-transform-enter {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(20px) scale(.97);
}

.fade-transform-leave-to {
  opacity: 0;
  filter: blur(8px);
  transform: translateY(-14px) scale(1.02);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
